:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  text-align: center;
}
.row {
  display:flex;
  flex-direction:row;
}

.col-img {
  display: flex;
  width: 20vw;
  height: 100vh;
  background-position: center;
  justify-content: space-evenly;
}


.col-img:hover {
  width: 50vw;
  transition: all 0.5s ease-in-out;
}


.col-img-1 {
  background-image: url('https://images.unsplash.com/photo-1520962922320-2038eebab146?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.col-img-2 {
  background-image: url('https://images.unsplash.com/photo-1586348943529-beaae6c28db9?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.col-img-3 {
  background-image: url('https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?q=80&w=1948&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.col-img-4 {
  background-image: url('https://images.unsplash.com/photo-1602893434027-07415fe357fd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.col-img-5 {
  background-image: url('https://source.unsplash.com/3MNzGlQM7qs/1500x1500');
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Monaspace Radon","Monospace";
  font-size: 2rem;
  width:100%;
  max-width: 100%;
}

@media (width <= 768px){
  .text-container {
    font-size: 1rem;
  }
}

.text-container:hover {
  background-color: #010a018A;
  width:100%;
  max-width: 100%;
  text-shadow: 0px 1.5rem 3px gray, 10px 10px 1em orange, 0 0 0.2rem palevioletred;
}

.text-container:hover .special-color {
  text-shadow:0px 1.5rem 3px violet, 10px 10px 1em orange, 0 0 0.2rem mediumvioletred
}